*{
	font-size:10pt;
	font-family:"Tahoma","MS PGothic","MingLiU","굴림";
}
a img{
	border: none;  
}
table{
	font-size:10pt;
	width:100%;
	table-layout: fixed;
	word-wrap: break-word;
}
.tr_title{
	font-size:12pt; 
	background-color:#D1F4FF;
}

input[type="text"]{
	border-radius:4px;
	width:100%;
	box-sizing:border-box;
	box-shadow: inset rgba(0,0,0,0.1) -3px 3px 3px -2px;
	padding:4px;
	*behavior: url('boxsizing.htc');
}
.picker {
	border-right:20px solid ;
}
.normal_text{
	border:1px solid #B3B3B3;
} 
.normal_text:focus{
	border:1px solid #1E90FF;
	background-color:#F0F0FF;
} 

/* 버튼 및 옵션 평상시  */ 
input[type="button"], input[type="submit"], select{
  background: #f2f2f2;
  white-space: normal;
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border-radius: 4px;
  border: solid #B3B3B3 1px;
  box-shadow: rgba(0,0,0,0.1) 0px 3px 3px -2px;
}

/* 버튼 및 옵션 호버 */ 
input[type="button"]:hover, input[type="submit"]:hover, select:hover{
	cursor:pointer;
	background: #e5e5e5;
	background-image: linear-gradient(to bottom, #ffffff, #e5e5e5);
}

/* 버튼 및 옵션 눌릴 때 */ 
input[type="button"]:active, input[type="submit"]:active, select:active{
	background: linear-gradient(top, #ebebeb, #dbdbdb);
	box-shadow:inset 0 1px 0.24em rgba(0,0,0,0.4);
}

.td_boundary{
	border-bottom:1px solid gray;
	padding-bottom:8px;
}
body{
	margin:0px;
}
.ouavatar_preview{
	 position:absolute; 
	 background-color:white; 
	 border:1px solid silver; 
	 border-radius:3px; 
	 padding:4px; 
	 display:none;
	 font-size:18pt;
	 float:right;
	 word-break:break-all;
	 z-index:10;
}
.ouavatar_preview_img{
	max-width:150px;
	
	vertical-align:text-top;
}
#ouavatar_result_img{
	max-width:100%;
}
 
fieldset{
	border-radius:4px;
	border:1px solid #cccccc;
	background-color:#fafafa;
	box-shadow: rgba(0,0,0,0.1) 0px 3px 3px -2px;
	
}

legend{
	font-weight:bold;
}
.ouavatar_menu_whole_box{
	background-color:#4D6C77;
}
.ouavatar_menu_vertical_container{
	background-color:white;
	max-width:830px;
	margin:auto;
	text-align:justify;
	word-break:break-all;
}

.ouavatar_logo_line{
	max-width:800px;
	margin:auto;
}

legend{
	margin-left:8px;
	margin-right:8px;
}
fieldset *{
	box-sizing:border-box;
	*behavior: url('boxsizing.htc');
}
.ouavatar_emoticon_button, .ouavatar_emoticon_button_complex{
	padding:8px;
	font-size:12pt;
	cursor:pointer;
	display:inline-block;
	white-space:nowrap;
}
.ouavatar_emoticon_button_complex{
	color:#BFBFBF;
}

.ouavatar_emoticon_button:hover{
	background-color:#E6E6FA;
	
}
.ouavatar_viewSubjectDiv{
	background:#eeeeee;
	padding:12px;
	height:auto;
	border-bottom:1px solid #dddddd;
	border-top:1px solid #dddddd;
}
.ouavatar_viewTitleDiv{
	font-weight: bold;
	position:relative;
	top:0px;
	font-size:16px;
}



/* 반응형웹 기능 */
/*화면폭 < 800px*/
/* 모바일 */
@media screen and (max-width: 800px) {
	#ouavatar_random_thumbnail_link{
		display:none;
	}
	#m_ouavatar_random_thumbnail_link{
		display:inline-block;
		/*width:100%;*/
	}
	.ouavatar_logo_line_container{
		background-image:url('home_head_bg.gif');
		height:42px;
	}
	#ouavatar_toplogo_img{
		margin:4px;
		position:absolute;
	}
	#ouavatar_home_button{
		margin:5px;
		padding:7px;
		color:white;
		background-color:#B82222;
		border:1px solid #8A0A0A;
		border-radius:3px;
		z-index:2;
	}
	.ouavatar_menu_vertical_container{
		/* padding은 .bottom_shadow_container의 height와 같아야 한다*/
		padding:5px;
		padding-left:0px;
		padding-right:0px;
	}


	.ouavatar_preview{
		right:0px;
	}
	

	.ouavatar_half_span{
		display:block;
		width:100%;
	}

}

/*801px < 화면폭*/
/* PC */
@media screen and (min-width: 801px) {

	#m_ouavatar_random_thumbnail_link{
		display:none;
	}
	#ouavatar_random_thumbnail_link{
		display:block;
	}
	
	.ouavatar_logo_line_container{
		background-image:none;
		height:33px;
	}
	#ouavatar_toplogo_img{
		margin:0px;
		position:absolute;
	}
	#ouavatar_home_button{
		margin:7px;
		padding:2px;
		color:#056083;
		background-color:transparent;
		border:0px;
		border-radius:0px;
	}
	.ouavatar_menu_vertical_container{
		/* padding은 .bottom_shadow_container의 height와 같아야 한다*/
		padding:5px;
		padding-left:8px;
		padding-right:8px;
	}


	.ouavatar_preview{
		right:auto;
	}
	
	.ouavatar_half_span{
		display:inline-block;
		vertical-align:top;  
		width:49.7%;
	}

}

#ouavatar_home_button{
	font-size:9pt; 
	display:inline-block; 
	float:right; 
}

.ouavatar_rank_table td{
	white-space: nowrap;
}
.ouavatar_rank_table{
	width:100%;
	border:0; 
	border-collapse:collapse;
}

.ouavatar_rank_td_num{
	width:32px; white-space: nowrap; padding:2px; text-align:left;
}
.ouavatar_rank_td_nickname{
	white-space: nowrap; padding:2px; text-align:left;
}
.ouavatar_rank_td_hits{
	white-space: nowrap; padding:2px; text-align:right;
}
.ouavatar_char_select_close_button{
	background-color:#000000; 
	color:white; 
	padding:4px;
	cursor:pointer; 
	font-size:12pt;
	display:inline-block;
}	
.ouavatar_char_select_category_button{
	background-color:#1E90FF; 
	color:white; 
	padding:4px;
	padding-left:12px;
	padding-right:12px;
	margin-left:2px;
	margin-right:2px;
	cursor:pointer; 
	font-size:12pt;
	display:inline-block;
}	

#ouavatar_statistics_week_table, #ouavatar_statistics_month_table{
	display:none;
}

/* 그림자를 위한 div */
.bottom_shadow_container{
	left:0px; 
	height:5px; 
	background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); 
	position:absolute;
	width:100%;
}
.top_shadow_container{
	left:0px; 
	height:5px; 
	background:linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); 
	position:absolute;
	width:100%;
}



.ouavatar_ad_banner {
    margin:auto; 
    font-size:10pt; 
    text-align:center; 
    margin-top:4px;  
    background-color:#1E90FF;
    color:white; 
    width:100%; 
    padding-top:8px; 
    padding-bottom:8px;
    -webkit-animation: colorRotate 1.7s infinite;
}

@-webkit-keyframes colorRotate {
	0% {background-color: #1E90FF;} 
	25% {background-color: #008000;}
	50% {background-color: #A52A2A;}
	75% {background-color: #FF7300;}
	100% {background-color: #1E90FF;}
}



/* 아바타 미리보기 썸네일 관련 */
#m_ouavatar_random_thumbnail_img{
	position:relative;
	z-index:1;
	width:100px;
	height:100px;
	vertical-align:text-top;
}
#m_ouavatar_random_thumbnail_container{
	width:100%;
	margin-bottom:4px;
}
#m_ouavatar_random_thumbnail_link{
	background-color:#E5E5E5;
	border-radius:4px;
	padding:4px;
}
#ouavatar_random_thumbnail_load{
	text-align:center;  
	position:absolute; 
	width:200px; 
	height:200px; 
	line-height:200px;
}
#m_ouavatar_random_thumbnail_load{
	text-align:center;  
	position:absolute; 
	width:100px; 
	height:100px; 
	line-height:100px;
}
#ouavatar_random_thumbnail_container{
	display:none;
}
					
					
#ouavatar_random_thumbnail{
	float:left; 
	width:200px; 
	height:200px; 
	position:relative;
	margin-right:8px;
}
#ouavatar_random_thumbnail_img{
	position:absolute;
	z-index:1;
}
#ouavatar_random_thumbnail_menu{
	position:absolute; 
	bottom:0;
	display:none; 
	width:200px;
	background-color: black;
	color:white;
	padding:4px;
	z-index:2;
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}


#m_ouavatar_random_thumbnail_level{
	font-size:8pt;
	background-color:#1E90FF;
	color:white;
	border-radius:2px;
	padding:2px;
	float:right;
}
.ouavatar_rank_level{
	font-size:8pt;
	background-color:#41A2FF;
	color:white;
	border-radius:2px;
	padding:1px;
	margin-left:4px;
	margin-right:4px;
}
#ouavatar_random_thumbnail_level{
	font-size:8pt;
	color:#ADD8E6;
	float:right;
	margin-right:2px;
}

/* API 설명 부분 */
.ouavatar_api_help_code{
	padding:4px; 
	margin:4px; 
	background-color:#FFE0A7;
	font-family:"ubuntu mono","courier new";
}
.ouavatar_api_help_json_code{
	color:blue;
}

/* 크레딧 */
.ouavatar_credit_title{
	font-size:12pt; 
	font-weight:bold
}
.ouavatar_credit_desc{
	font-size:10pt; 
	margin-left:16px;
}
						
.ouavatar_ua_div_container{
	margin:2px; 
	background-color:#D6D6D6; 
	display:block; 
	padding:2px; 
	font-size:10pt;
}
.ouavatar_graph_line{
	background-color:#D3DAFF; 
	position:absolute; 
	z-index:0;
}
